body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    color: #363958;
}
.intro{
    width: 100%;
}
.about-section{
    width: 100%;
}

.highlight{
    color: #FF8367;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    overflow: hidden;
}
.half-width img{
    width: 70%;
    margin: auto;
}
.half-width h1{
    font-size: 50px;
    line-height: 30px;
    font-weight: 700;
}
.half-width h2{
    font-size: 35px;
    line-height: 30px;
    font-weight: 700;
}
#btn1{
    text-decoration: none;
    padding: 10px 25px;
    background-color:  #FF8367;
    border-radius: 5px;
    color: white;
 
    overflow: hidden;
    
}
p{
    padding: 5px;
}
.last-headline{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#portfolio{
    overflow: hidden;
    width: 100%;
    background-color: rgb(243, 234, 234);
    margin-bottom: 50px;
}
.my-work{
    width: 25%;
    float: left;
    padding: 10px;
    background-color: white;
    margin-left:70px;
    margin-bottom: 100px;
    border-radius: 7px;
    overflow: hidden;
}
.my-work img{
    width: 100%;
}
.works{
    margin: auto;
    width: 90%;
}

.inquiry{
    margin: auto;
    width: 50%;
    height: 100px;
    background-image: url("photos/Group.png");
    background-repeat: no-repeats;
    margin-bottom: 100px;
    background-size: 100%;
    border-radius: 20px;

}
.inquiry a{
    text-decoration: none;
    background-color: #FF8367;
    color:white;
    border-radius: 5px;
    padding: 10px 25px;
}
.inquiry h1{
    color: white;
    padding-left: 30px;
}
#menu{
    float: right;
    padding-right: 15px;
    padding-top: 10px;
    margin-right: 34px;
   
}
#menu tr td a{
    padding: 10px;
    text-decoration: none;
    color: rgb(37, 33, 33);
}
.stay-connected{
    margin: auto;
    text-align: center;
}
.social-icon{
    margin: auto;
    margin-bottom: 30px;

}
.social-icon tr td img{
    width: 50px;
}
.stay-connected h3{
    color: gray;
}